@charset "utf-8";

// FontAwesome
$fa_font_path: "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// OpenSans
$FontPathOpenSans: "~open-sans-fonts/open-sans";
@import '~open-sans-fonts/open-sans';
$family-primary: 'Open Sans';

// Bulma
@import "~bulma/bulma";

.index h3, .copyright h3 {
    padding-top: 25px;
    margin-bottom: 12px !important;
}

.index p, .copyright p {
    padding: 10px;
}

.label, .field-label {
    margin-top: 6px;
}

.column.column-1 {
    display: inline-flex;
}

.ability-summary {
    display: inline-flex !important;
    margin-bottom: 10px;
}

.refresh {
    display: inline-flex !important;
}

.stunt-definition, .refresh {
    margin-bottom: 30px !important;
}

.column.column-2 .refresh + .add-button,
.column.column-2 .stunt-definition + .add-button {
    padding-left: 0;
}

.ability-rank {
    width: 40px;
}

.ability-name {
    width: 150px;
}